@font-face {
   font-family: 'SF-UI-Display';
   src: url(./sf-ui-display-medium.woff);
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'SF-UI-Display';
   src: url(./sf-ui-display-semibold.woff);
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'SF-UI-Display';
   src: url(./sf-ui-display-bold.woff);
   font-weight: 700;
   font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

//font-family: 'Poppins', sans-serif;