@import './../../assets/abstracts/vars';
.tagsList{
  margin-top: 10px;

  display: flex;
  gap: 14px;
  flex-wrap: wrap;

  .tag{
    font-size: 18px;
    padding: 3px 7px ;
    background: white;
    border-radius: 13px;
    transition: background .3s ease-in-out;

    &:hover{
      background: #F5C463;
    }
  }
}