@import './../../assets/abstracts/mixins';
@import './../../assets/abstracts/vars';

.contacts {
  padding: 30px 10px 50px;

  color: white;

  box-sizing: border-box;

  @media screen and (max-width: 600px){
    padding-top: 0;
  }

  .contactsTitle {
    width: 100%;

    text-align: center;

    @media screen and (max-width: 1200px) {
      transform: translateX(0);
    }
    @media screen and (max-width: 640px) {
      margin-top: 0;
    }
  }

  input, textarea, select {
    width: 150px;
    margin: 0;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      justify-content: center;
      flex-direction: column;
    }

    .content {
      max-width: 600px;
      margin-left: 5px;

      @media screen and (max-width: 1000px) {
        max-width: 100%;

        display: flex;
        justify-content: space-around;
      }
      @media screen and (max-width: 600px) {
        max-width: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .textBlock {
        .textBlockTitle {
          margin-bottom: 10px;
          @include text-edit(SF UI Display, 500, 3.25rem);

          text-transform: uppercase;

          span {
            color: $lightThemeColor;
          }

          @media screen and (max-width: 640px) {
            font-size: 2.2rem;
          }
        }

        .description {
          @include text-edit(Poppins, 500, 1.4rem, 1.5rem);
        }
        @media screen and (max-width: 1000px) {
          max-width: 440px;
        }
        @media screen and (max-width: 640px) {
          max-width: 300px;

          margin-top: 13px;
        }
        @media screen and (max-width: 600px) {

          text-align: center;
          max-width: 500px;

        }
      }


    }

    .formBlock {
      min-width: 550px;
      padding-left: 20px;
      padding-right: 5px;
      padding-top: 13px;

      position: relative;
      @media screen and (max-width: 1000px) {
        min-width: 90%;
        margin: 0 auto;
        padding: 20px 10px 0;

        text-align: center;

      }




      input, textarea {
        border: 1px solid #111;
        width: 100%;
        background: #252525;
        color: #fff;
        padding: 11px 26px;
        border-radius: 30px;
        outline: none !important;
        transition: .3s;

        @include text-edit(Poppins, 400, 1.3rem, 1.5rem);

        &::placeholder {
          @include text-edit(Poppins, 400, 1.0rem, 1.5rem);

          text-transform: uppercase;
          color: #fff;

          opacity: .6;
        }


      }

      p {
        margin-bottom: 20px;
      }

      .inputNameWrapper {
        display: flex;
        gap: 3%;
        .name, .email {
          width: 45.5%;
          @media screen and (max-width: 1000px) {
            width: 100%;
          }
        }
      }

      .inputSubjectWrapper {
        .subject {
          width: 94%;
        }
      }

      .inputTextAreaWrapper {
        .textarea {
          resize: vertical;

          width: 94%;

          border: 1px solid #111;
          padding: 12px 26px;
          height: 200px;
          overflow: hidden;
          border-radius: 30px;
        }
      }

      .disableBtn{
        position: relative;
        color: #ff9800;
        background-color: gray;
        width: 150px;
        height: 50px;
        border-radius: 12px;

        font-size: 18px;
      }
      .sendBtn{
        position: relative;
        color: #252525;
        background-color: $goldGradient;
        width: 150px;
        height: 50px;
        border-radius: 12px;


        font-weight: 500;
        font-size: 18px;

        transition: all .3s ease;

        &:active{
          background-color: rgba(255, 184, 0, 0.41);
        }
      }


      .subject, .textarea{
        @media screen and (max-width: 1000px) {
          min-width: 100%;
        }
      }
    }
  }


}
.cartModal{
  width: 600px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: rgba(255, 184, 0, 0.41);

  color:#fff;
  font-size: 22px;

  .cartModalBtn{

    position: absolute;
    right: 5px;
    top: 0;

    border-style: none;
    background-color: transparent;

    font-weight: 500;
    font-size: 30px;
    color:red;
  }
}
.errors{
  text-align: center;
  margin-top: -10px;
  color:red;

  text-transform: uppercase;
}