$textColor:#fff;

$accentColor: #020202;

$secondaryColor:#f6c126;

$activeColor:#2F4F4F;

$red: #c0392b;
$blue: #1199ff;
$purple: #9b59b6;
$orange: #ffa500;
$green: #27ae60;

$background-color: #1a1a1a;
$progressbar-title-color: #fff;

$animation-delay: .7s;
