@import "./../../assets/abstracts/mixins";
@import "./../../assets/abstracts/vars";

.about {
  margin-top: 70px;

  .aboutBlocks {
    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 712px) {
      margin-top: 30px;

      flex-direction: column;

      text-align: center;
    }

    .aboutText {
      .aboutDiscr {
        margin-bottom: 20px;

        @include textEdit(Open Sans, 700, 2rem, 30px);
      }
    }

    .aboutImage {
      img {
        height: 400px;
        width: 300px;
      }
    }
  }
}

.changeBackground {
  width: 100px;
  height: 100px;


  //margin-top: 1rem;
  //
  background-color: #2f4f4f;
  //transition: .2s ease-in;
  //
  //&:hover {
  //  background-color: $activeColor;
  //}

}