@import "./../../assets/abstracts/mixins";
@import "./../../assets/abstracts/vars";

.header{
  .wrapper{
    display: flex;
    justify-content: space-between;
    .logo{}
    position: relative;
    z-index: 9;


    .burgerBtn{
      margin-top: 20px;
      padding: 0;

      border-style: none;

      color: $textColor;
      background-color: transparent;

      width: 40px;
      height: 30px;

      position: fixed;
      top: 10px;
      right: 20px;

      &::before,&::after{
        content: '';

        width: 100%;
        height: 2px;

        background-color: $textColor;

        position: absolute;
        left: 0;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }

      span{
        width: 100%;
        height: 2px;

        background-color: $textColor;

        position: absolute;
        left: 0;
        top: 50%;
      }
    }
    .activeBurger{
      visibility: hidden;
    }
  }
}