@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/vars";

.card {
  border: 2px solid;

  .cardInner{
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}