@import './../../assets/abstracts/mixins';
@import './../../assets/abstracts/vars';


.aboutMe {
  @media screen and (max-width: 1180px) {
    background-color: $darkThemeColor;
    height: 100%;

  }

  .wrapper {
    padding: 30px 50px;

    display: flex;
    justify-content: center;
    gap: 60px;

    //background: black;

    @media screen and (max-width: 1180px) {
      padding: 10px;

      grid-template-columns: repeat(1, 1fr);
      grid-auto-flow: row;

    }
    .content {
      //height: 99vh;
      padding-right: 10px;

      background-color: $darkThemeColor;



      @media screen and (max-width: 1520px) {
        padding-left: 130px;
      }
      @media screen and (max-width: 1180px) {
        height: 100%;
        //max-width: 800px;
        margin: 0 auto;

        padding-left: 0;

        background: transparent;

      }
      @media screen and (max-width: 600px) {
        padding: 0 10px;

        text-align: center;
      }

      .aboutTitle {
        position: relative;
        z-index: 2;
        font-weight: 700;
        max-width: 480px;

        @media screen and (max-width: 1380px) {
          font-size: 4rem;

        }
        @media screen and (max-width: 1180px) {
          margin-top: 0;
          transform: translateX(20px);

        }
        @media screen and (max-width: 600px) {
          margin: 30px auto 24px;

          line-height: 69px;
          font-size: 48px;
        }

        }
        @media screen and (max-width: 400px) {
          margin: 18px auto 14px;

          transform: translateX(-14px);

          line-height: 52px;
          font-size: 43px;
        }
      .linksBlock{
        margin-top: 10px;
        margin-bottom: 30px;
        position: relative;
        color: white;
        max-width: 500px;
        transform: translateX(-4%);

        h3{
          margin-bottom: 30px;

          font-size: 34px;

          text-transform: uppercase;
        }
        .linksList{
          margin-top: 25px;
          padding: 5px;
          list-style: none;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 20px;


          a{
            .aboutItem{
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

        &::before {
          content: 'ABOUT ME';

          position: absolute;
          top: 15px;
          left: 0;
          z-index: -1;

          color: $lightThemeColor;
          @include text-edit(SF UI Display, 500, 6rem, 100px);

          font-weight: bold;

          opacity: 0.7;

          @media screen and (max-width: 1380px) {
            font-size: 4rem;

          }
          @media screen and (max-width: 1180px) {
            top: 16px;
            left: 58px;

          }
          @media screen and (max-width: 600px) {
            display: none;

          }

        }
      }

      span {
        position: absolute;
        top: 0;
        left: 0;

        @include text-edit(SF UI Display, 600, 1.4rem, 5.5);
        text-transform: uppercase;
        color: #bdbdbd;


      }

      .text {
        max-width: 500px;
        color: $textColor;

        text-align: center;

        @include text-edit(Poppins, 600, 1.4rem, 1.5);

        @media screen  and (max-width: 1180px){
          text-align: center;

          max-width: 100%;

          transform: translateX(20px);
        }

        @media screen and (max-width: 600px) {
          max-width: 500px;

          text-align: center;

        }
      }

      .aboutLink{
        display: block;

        width: 164px;
        height: 54px;

        border-radius: 17px;

        @include text-edit(Poppins, 600, 1.4rem, 50px);

        //background-color: $lightThemeColor;

        color: $darkThemeColor;

        text-transform: none;
        text-decoration: none;
        text-align: center;

        transition: all .3s ease-in-out;

        position: relative;

        //&:hover {
        //  color: $textColor;
        //}
        //
        //&:active {
        //  background-color: $onActiveColor;
        //}


        @media screen and (max-width: 1180px) {
          margin: 60px auto 20px;
        }
        @media screen and (max-width: 600px) {
          box-shadow: none;
        }
        .aboutItem{
          display: flex;

          gap: 10px;

          &:hover{
            border-bottom: #ffb800;
          }

          .aboutLinkSpan{
            color: #ffffff;

            position: relative;

            top: 0;
            left: 0;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.4;

            &:hover{
              color:#ffb800;
            }
          }
          .aboutLinkImg{
            width: 30px;
            height: 30px;
          }
        }
        &:hover{

        }
      }
    }

    .view {
      position: relative;

      //background-color: $lightThemeColor;
      background-color: transparent;
      padding-top: 5px;

      text-align: center;
      @media screen and (max-width: 1700px) {
        padding-top: 50px;
      }

      @media screen and (max-width: 1180px) {
        width: 700px;

        padding-top: 60px;

        background-color: inherit;

        justify-self: center;
      }
      @media screen and (max-width: 760px) {
        width: 100%;
      }
      @media screen and (max-width: 640px) {
        width: 100%;
      }
      @media screen and (max-width: 400px) {
        width: 300px;
        text-align: center;
      }

      img {
        width: 660px;
        height: 850px;
        object-fit: cover;
        @media screen and (max-width: 1700px){
          transform: translateY(-32px);
        }
        @media screen and (max-width: 1280px) {
          width: 100%;
          height: 100%;

        }
        @media screen and (max-width: 1180px) {
          width: 700px;
          justify-self: center;

        }
        @media screen and (max-width: 760px) {
          width: 100%;
        }
        @media screen and (max-width: 530px) {
          height: 500px;
        }
        @media screen and (max-width: 420px) {
          height: 350px;
        }
      }
    }
  }
