@import './../../../assets/abstracts/mixins';
@import './../../../assets/abstracts/vars';


.skillItem{
  width: 450px;

  padding: 15px 0 20px;

  @include flex-edit(center, center, column);

  border:2px solid white;

  position: relative;

  //background-color: $darkThemeColor;

  background-image: url('./../../../assets/images/skills/codingBG.jpg');

  text-align: center;
  @media screen and (max-width: 1520px) {
    width: 550px;
  }
  @media screen and (max-width: 620px) {
    width: 470px;
  }
  @media screen and (max-width: 580px) {
    width: 370px;
  }
  @media screen and (max-width: 420px) {
    width: 270px;
  }

  &::before{
    content:'';

    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;

    background-color: $darkThemeColor;

    //opacity: .6;
    opacity: 0;

    transition: .3s ease-in-out;

    @media screen and (max-width: 760px){
      opacity: 0;
    }
  }
  //&:hover::before{
  //  opacity: 0;
  //}

  .title{
    margin: 0 0 25px 0;

    @include text-edit(SF UI Display, 500, 3.25rem, 70px );
    color:$textColor;
  }
  .iconImg{
    width: 65px;
    height: 65px;

    position: absolute;
    right: 20px;
    top: 30px;

    object-fit: cover;
  }
  .text{
    margin: 30px 0 0;

    max-width: 330px;

    @include text-edit(SF UI Display, 500, 1.25rem, 30px );
    color:$textColor;
  }
}