.navItem{
  font-size: 30px;

  margin-bottom: 3rem;

  position: relative;

  transition: all 0.3s ease-in;

  position: relative;
  &::before{
    content:'' ;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: transparent;

    position: absolute;
    left: -27px;
    top: 53%;

    transform: translateY(-50%);

    transition: all 0.2s ease-in;
  }

  &:hover::before{
    background-color: red;


  }
}